
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Chat Room</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
    <!--客户端（这里是浏览器）通过引入 <script src="/socket.io/socket.io.js"></script> 即可使用 socket.io 。-->
    <script src="/socket.io/socket.io.js"></script>


    <script type="text/javascript" src="javascripts/history.js"></script>
    <link type="text/css" rel="stylesheet" href="stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/chat.css">
</head>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<body>
<!--<div id="contain">
    <div id="content">
        <div id="content_show">
            <div id="contents"></div>
        </div>-->


</body>
</html>